.wrapper
	.menu
		%ul
			%li.left
				%span.title WADECON + INTERVIEW
			%li.right 인터뷰
			%li.right 기사들
			%li.right 기타
	
	.description-part
		%span.description 와동개발자조합 인터뷰는
		%span.description.highlight 알려지지 않은 개발자
		%span.description 를 인터뷰합니다.
	
	.wrapper-inner
		%span ‘경제성장’ 즉 자본주의 발전을 위하여 ‘비효율적인’ 각종 민주제도(삼권분립, 정당, 노동조합, 자유언론, 자유로운 집회결사) 등을 폐기시키려 하는 사상적 경향을 우리는 파시즘이라 부릅니다. 그리고 그러한 파시스트 국가의 말로가 온 인류를 재난에 빠뜨린 대규모 전쟁도발과 패배로 인한 붕괴였거나, 가장 다행스러운 경우에조차도 그 국민에게 심대한 정치적·경제적 파산을 강요한 채 권력 내부의 투쟁으로 자멸하는 길 뿐임을 금세기의 현대사는 증명하고 있습니다. 나치 독일, 파시스트 이탈리아, 군국주의 일본은 전자의 대표적인 실례이며, 스페인의 프랑코 정권, 합법정부를 전복시키고 등장했던 칠레·아르헨티나 등의 군사정권, 하루저녁에 무너져버린 유신체제 및 지금에야 현저한 붕괴의 조짐을 보이고 있는 필리핀의 마르코스 정권 따위는 후자의 전형임에 분명합니다.


		
		.profiles
			.profile-card
				%span.name 황 사과
				%span.age 19세
				%span.intro 그는 개발자다. 요즘 참을 수 없는 존재의 가벼움을 느끼고 있다고 한탄하고 있다고 한다.
				%a{:href=>"#"}
					%span 더 읽기
		
			.profile-card
				%span.name 권 식초
				%span.age 19세
				%span.intro 그는 디자이너다. 요즘 참을 수 없는 존재의 가벼움을 느끼고 있다고 한탄하고 있다고 한다.
				%a{:href=>"#"}
					%span 더 읽기
			
	
		%h2 지금 참여해보세요!
	